{% extends "root.jinja2" %}

{% block title %}Home{% endblock %}

{% block content %}

  <div class="row">
    <div class="col-sm-6">
      <div class="card">
        <div class="card-header">
          <label class="mb-0" for="int_display">Integers</label>
        </div>
        <div class="card-body">
          <!-- integer display -->
          <textarea id="int_display" class="form-control bg-dark text-light border-white"
                    disabled rows="10"></textarea>
        </div>
      </div>
    </div>
    <div class="col-sm-6 mt-4 mt-sm-0">
      <div class="card">
        <div class="card-header">
          <label class="mb-0" for="str_display">Strings</label>
        </div>
        <div class="card-body">
          <!-- string display -->
          <textarea id="str_display" class="form-control bg-dark text-light border-white"
                    disabled rows="10"></textarea>
        </div>
      </div>
    </div>
  </div>

  <div class="card mt-4">
    <div class="card-header">
      <label class="mb-0" for="out_display">Log</label>
    </div>
    <div class="card-body">
      <!-- console display -->
      <textarea id="out_display" class="form-control bg-dark text-light border-white"
                disabled rows="15"></textarea>

      <!-- console toolbar -->
      <div class="btn-toolbar mt-2" role="toolbar">
        <!-- auto scroll button -->
        <div class="col-auto ml-auto px-0">
          <button id="in_autoScroll" type="button" data-toggle="button" class="btn btn-outline-primary active">
            Auto Scroll
          </button>
        </div>
      </div>

    </div>
  </div>
{% endblock %}

{% block extra_js %}
  <script>
    $(function () {
      // select page objects
      const $outDisplay = $('#out_display');
      const $inAutoScroll = $('#in_autoScroll');

      // connect to stream
      const xhr = new XMLHttpRequest();
      xhr.open('GET', '{{ url_for('console_stream') }}');
      xhr.send();

      // update display, with delay
      (function update() {
        // update text
        $outDisplay.text(xhr.responseText);
        // scroll to bottom
        if ($inAutoScroll.hasClass('active')) {
          $outDisplay.scrollTop($outDisplay[0].scrollHeight);
        }
        // schedule update, if not done
        if (xhr.readyState !== XMLHttpRequest.DONE) {
          setTimeout(update, 250)
        }
      })();
    });

    $(function () {
      const $strDisplay = $('#str_display');
      // connect to stream
      const xhr = new XMLHttpRequest();
      xhr.open('GET', '{{ url_for('console_stream') }}');
      xhr.send();

      // update display, with delay
      (function update() {
        // update text
        $strDisplay.text(xhr.responseText);
        // schedule update, if not done
        if (xhr.readyState !== XMLHttpRequest.DONE) {
          setTimeout(update, 250)
        }
      })();
    });

    $(function () {
      const $intDisplay = $('#int_display');
      // connect to stream
      const xhr = new XMLHttpRequest();
      xhr.open('GET', '{{ url_for('console_stream') }}');
      xhr.send();

      // update display, with delay
      (function update() {
        // update text
        $intDisplay.text(xhr.responseText);
        // schedule update, if not done
        if (xhr.readyState !== XMLHttpRequest.DONE) {
          setTimeout(update, 250)
        }
      })();
    });
  </script>
{% endblock %}
