{% extends "root.jinja2" %}

{% block title %}Home{% endblock %}

{% block content %}

  <div class="row">
    <div class="col-sm-6">
      <div class="card">
        <div class="card-header">
          <label class="mb-0" for="int_display">Integers</label>
        </div>
        <div class="card-body">
          <!-- integer display -->
          <textarea id="int_display" class="form-control bg-dark text-light border-white" disabled
                    rows="10"></textarea>
        </div>
      </div>
    </div>
    <div class="col-sm-6 mt-4 mt-sm-0">
      <div class="card">
        <div class="card-header">
          <label class="mb-0" for="bool_display">Booleans</label>
        </div>
        <div class="card-body">
          <!-- boolean display -->
          <textarea id="bool_display" class="form-control bg-dark text-light border-white" disabled
                    rows="10"></textarea>
        </div>
      </div>
    </div>
  </div>

  <div class="card mt-4">
    <div class="card-header">
      <label class="mb-0" for="out_display">Log</label>
    </div>
    <div class="card-body">
      <!-- console display -->
      <textarea id="out_display" class="form-control bg-dark text-light border-white" disabled
                rows="15"></textarea>

      <!-- console toolbar -->
      <div class="btn-toolbar mt-2" role="toolbar">
        <!-- auto scroll button -->
        <div class="col-auto ml-auto px-0">
          <button id="in_autoScroll" type="button" data-toggle="button" class="btn btn-outline-primary active">
            Auto Scroll
          </button>
        </div>
      </div>

    </div>
  </div>
{% endblock %}

{% block extra_js %}
  <script>
    $(function () {
      // select page objects
      const $outDisplay = $('#out_display');
      const $inAutoScroll = $('#in_autoScroll');
      const $boolDisplay = $('#bool_display');
      const $intDisplay = $('#int_display');

      // connect to stream
      const xhr = new XMLHttpRequest();
      xhr.open('GET', '{{ url_for('console_stream') }}');
      xhr.send();

      // update display, with delay
      (function update() {
        // clear the displays
        $intDisplay.empty();
        $boolDisplay.empty();

        // split the sensor data by semicolon
        const sensorData = xhr.responseText.split(';');

        // iterate through sensor data
        sensorData.forEach(function (dataString) {

          // split sensor data by comma
          const data = dataString.split(',');

          // is this actual data? (should have 4 values)
          if (data.length > 3) {

            if (data[1] === 'num') {
              // number data
              $intDisplay.append(data[0] + ': ' + data[2] + ' ' + data[3] + '<br/>');

            } else if (data[1] === 'bool') {
              // boolean data
              $boolDisplay.append(data[0] + ': ' + data[2] + ' ' + data[3] + '<br/>');

            } else {
              // wtf data
              $outDisplay.append(data[0] + ': ' + data[2] + ' ' + data[3] + '<br/>');
              if ($inAutoScroll.hasClass('active')) {
                $outDisplay.scrollTop($outDisplay[0].scrollHeight);
              }
            }

          } else {
            // wasn't actual data, just output string
            $outDisplay.append(dataString);
            $outDisplay.append('<br/>');

          }
        });

        // schedule update, if not done
        if (xhr.readyState !== XMLHttpRequest.DONE) {
          console.log('refresh')
          setTimeout(update, 1000);
        }

      })();
    });
  </script>
{% endblock %}
