<!doctype html>
<html lang="en">
<head>
  <!-- meta tags -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

  <!-- styling -->
    {% assets "scss_all" %}
      <link rel=stylesheet type=text/css href="{{ ASSET_URL }}">
    {% endassets %}

  <!-- page title -->
  <title>Console - {% block title %}{% endblock %}</title>

</head>
<body>

<!-- navigation bar -->
<nav class="navbar navbar-expand-sm navbar-dark bg-primary">
  <div class="container">
    <!-- nav title -->
    <a class="navbar-brand" href="#">
      Console
    </a>
    {# heart #}
    <p class=".alive .heart"> &#10084 </p> 
  </div>
</nav>

{% block content_before %}
{% endblock %}

<div class="container mt-4">
    {% block content %}
    {% endblock %}
</div>

{% block content_after %}
{% endblock %}

<!-- Javascript -->
<script src="{{ url_for('static', filename='bootstrap-4.3.1/js/jquery-3.4.1.slim.min.js') }}"></script>
<script src="{{ url_for('static', filename='bootstrap-4.3.1/js/bootstrap.bundle.js') }}"></script>
{% block extra_js %}
{% endblock %}

</body>
</html>
